body {
    width: 80vw; 
    margin: auto;
    font-size: 20px; 


    section {
        background-color: azure;
        padding: 40px; 
       line-break: 1.5;
 } 
    
    
section#apresentacao {
    background-color: rgb(143, 219, 175);
   
}

section#formacaoAcademica { 
    background-color: rgb(112, 170, 206);
}

section#experienciaProfissional {
    background-color: aquamarine;
}
.titulo-secao {
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
section#competenciasTecnicas {
    background-color: bisque;
}

section#softSkills {
    background-color: rgb(143, 131, 155);
}

section#idiomas {
    background-color: rgb(126, 239, 98);
}
    
}